[submodule "deps/simple-client"]
	path = deps/simple-client
	url = ../../consensus/simple-client.git
[submodule "deps/globalstate-mockup"]
	path = deps/globalstate-mockup
	url = ../../consensus/globalstate-mockup.git
